// Hitchwiki

@import "mixins";
@import 'variables';

/*
 * Color theme
 */
html, body {
	background: #eee;
}

div#mw-panel {
	width: 9.5em;
	background: #eee;
}

.mw-body {
	border-color: @hw-orange-border;
}

#p-search,
#p-logo {
	background-color: @hw-orange;
	color: @hw-orange-text;
}

#p-search {
  #simpleSearch {
    border-bottom-color: @hw-orange-border;
  }
	#searchInput {
		color: @hw-orange-text;
	}
	#searchButton {

	}
}

#p-search .searchButton,
div.vectorTabs, div#content {
	border-left-color: @hw-orange-border;
}

/*
 * Logo
 */
#p-logo {
	.background-image('images/hitchwiki-logo.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	//.background-image-svg("images/@{name}.svg", 'images/@{name}.png');

	// This will break the scrolling logo of VectorBeta Winter theme
	position: fixed;
	top: 0;
	height: @header-height;
	border-bottom: 1px solid @hw-orange-border;

	// Original icon was here
	// Consider removing image with JS so we could keep the link?
	a {
		display: none;
	}
}
// This will break the scrolling logo of VectorBeta Winter theme
div#mw-panel {
	top: @header-height;
	padding-top: 1em;
}
.mw-scrolled {
  #p-logo {
		border-bottom-color: @hw-orange-border;
  }
}


/*
 * Sidebar
 */
/*
.icon("");
.background-icon("");
*/

/*
 * Hide page actions on SpecialPages
 */
.ns-special #mw-page-actions {
	display: none;
}

/*
 * @todo: placeholders for Search input...

// WebKit browsers
::-webkit-input-placeholder {
color:    brighten(@hw-orange-text, 20%);
}
// Mozilla Firefox 4 to 18
:-moz-placeholder {
	color:    brighten(@hw-orange-text, 20%);
	opacity:  1;
}
// Mozilla Firefox 19+
::-moz-placeholder {
	color:    brighten(@hw-orange-text, 20%);
	opacity:  1;
}
// Internet Explorer 10+
:-ms-input-placeholder {
	color:    brighten(@hw-orange-text, 20%);
}
*/
