/*
 * UI Buttons / toolbars
 */
.mw-ui-button.mw-ui-progressive,
.mw-ui-button.mw-ui-primary {
  background: @hw-orange;
  border: 1px solid @hw-orange-border;
	color: #fff;//@hw-orange-text;
}

// Make Default buttons orange
//button,
//input[type='submit'],
.patrollink,
input#wpDiff,
input#wpPreview,
input#wpSave {
  margin-right: 10px;
  .hwbutton();
}
// Some buttons are actually gray...
input#wpDiff,
input#wpPreview {
  .hwbutton-secondary();
}

div.patrollink {
  float: right;
  margin: 10px 0 0 10px;
  font-size: 0;
  a {
    display: inline-block;
    padding: 0 10px;
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
  }
}
