/*
 * Commons
 */

* {
  .box-sizing(border-box);
	&:before,
	&:after {
	  .box-sizing(border-box);
	}
}

html, body {
  background-color: #eee;
  margin: 0;
}

body.skin-vector {
	background: #eee;
}

// Because of categories.less absolute positioning
#bodyContent {
	padding-bottom: 21px;
}

// Breadcrumb path
// E.g. "Earth > Europe > Western Europe > France > Paris"
#contentSub {
  padding: 10px 0;
  margin: 0;
  &, a {
    color: #888;
  }
}
