/**
 * Table of Contents
 */
#toc {
	background: #e6e6e6;
	float: right;
	margin: 10px 0 10px 10px;
	font-size: 90%;
	max-width: 400px;

	-webkit-border-radius: @hw-border-radius;
	-moz-border-radius: @hw-border-radius;
	border-radius: @hw-border-radius;

  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.1);

  ul {
  	clear: both;
  	margin: 5px 15px;
  }
  &, a {
  	color: #333;
  	text-decoration: none;
    &:hover,
    &:active {
    	text-decoration: underline;
    }
  }
  #toctitle h2 {
  	font-size: 15px;
  	line-height: 16px;
  	padding: 5px 5px 0 5px;
  	float: left;
  }
  .toctoggle {
  	float: right;
  	padding: 5px;
    a {
    	outline: none;
    }
  }
}
#toc, .toc, .mw-warning {
	background-color: #F9F9F9;
	border: 1px solid #aaa;
	padding: 5px;
}
#toc, .toc, .mw-warning {
	background-color: #F9F9F9;
	border: 1px solid #aaa;
	padding: 5px;
}
